// Button
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin button-style(
    $background,
    $color,
    $border-color: false,
    $box-shadow: false,
    $background-hover: false,
    $color-hover: false,
    $border-color-hover: false,
    $box-shadow-hover: false,
    $radius: false) {

        background: $background;

        @if $border-color { border-color: $border-color; }
        @if $radius { border-radius: $radius; }
        @if $box-shadow { box-shadow: $box-shadow; }
        
        @if $color-hover == false {
            &,
            &:hover,
            &:focus { color: $color; }
        }
        
        @else { color: $color; }

        &:hover,
        &:focus {
            @if $background-hover { background: $background-hover; }
            @if $color-hover { color: $color-hover; }
            @if $border-color-hover { border-color: $border-color-hover; }
            @if $box-shadow-hover { box-shadow: $box-shadow-hover; }
        }
}


// Buttons
// - - - - - - - - - - - -

button,
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: $button-display;
    font: $button-font-weight $button-font-size $button-font-family;
    border-width: $button-border-width;
    border-style: $button-border-style;
    text-align: $button-font-align;
    margin-bottom: $button-margin-bottom;
    padding: $button-padding;
    transition: $button-transition;
    cursor: $cursor-pointer-value;
    
    @include button-style(
        $background: $button-bg-color,
        $color: $button-font-color,
        $background-hover: $button-bg-hover
    );

    &.button-secondary {
        @include button-style(
            $background: $secondary-color,
            $color: $black,
            $background-hover: black,
            $color-hover: white
        );
    }

    &.full { width: 100%; }

    &.disabled,
    &[disabled] {
        background: $button-disabled-background;
        color: $button-disabled-color;
        opacity: $button-disabled-opacity;
        cursor: $button-disabled-cursor;
    }
}

// Firefox 2px fix
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}