// Checkbox/Radio
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin checkbox-radio-style {

    // On stylise les éléments ::before et ::after de notre label
	// ::before simulera la case 'non cochée' et l'élément ::after viendra la cocher
	+ label {

		&::before {
            content: '';
            display: block;
			background: white;
		}

		&::after {
			position: absolute;
			font-family: icomoon;
            transition-duration: .2s;
			opacity: 0;
            transform: scale(0); // On prévois un effet 'scale'
		}
	}

	// 1. Si l'input est coché
	// 2. On affiche l'élément ::after avec une opacité et un scale par défaut
	&:checked { // 1

		+ label {

			&::after {
				opacity: 1; // 2
				transform: scale(1); // 2
			}
		}
	}
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.checkbox,
.radio {
    display: block;
    margin: 0 0 $input-checkbox-margin-bottom;
    opacity: 0;
	@include checkbox-radio-style;
}


// Checkbox
// - - - - - - - - - - - -

.checkbox {

	+ label {

		&::before {
			width: $checkbox-width;
			height: $checkbox-height;
			margin-right: $checkbox-margin-right;
			margin-bottom: 0;
		}

		&::after {
			content: $checkbox-icon;
			top: 0; left: 0;
			width: $checkbox-width;
			height: $checkbox-height;
			line-height: $checkbox-height;
			font-size: $checkbox-font-size;
			color: $checkbox-color;
			text-align: center;
		}

	}
}


// Radio
// - - - - - - - - - - - -

.radio {

	+ label {

		&::before {
			width: $radio-width;
			height: $radio-height;
			border-radius: 50%;
			border: #{$radio-border-width} solid #{$radio-border-color};
			margin-right: rem-calc(10);
		}

		&::after {
			content: $radio-checked-icon;
			top: $radio-checked-top;
			left: $radio-checked-left;
			width: $radio-checked-width;
			height: $radio-checked-height;
			background: $radio-checked-background;
			border-radius: 100%;
		}

	}

}