// INPUT
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin input-style {
	display: block;
	width: 100%;
	color: $input-color;
    font: $paragraph-font-size $body-font-family;
	border: $input-border;
	border-radius: $input-border-radius;
	box-shadow: $input-shadow;
	margin-bottom: $input-margin-bottom;
	padding: $input-padding;
    transition-duration: .4s;

	&:focus {
		box-shadow: $input-focus-shadow;
		border-color: $input-focus-border;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="checkbox"] + label::before,
textarea {
	@include input-style;
}

// On cible tous les inputs, excepté les types "radio" et "checkbox"
input:not([type=checkbox]):not([type=radio]) {
	height: $input-height;
	line-height: $input-line-height;
	padding: $input-padding;
}