// INPUT
// - - - - - - - - - - - - - - - - - - - - - - - - -

%input-style {
	display: block;
	color: $input-color;
    font: $paragraph-font-size $body-font-family;
	border: $input-border;
	border-radius: $input-border-radius;
	box-shadow: $input-shadow;
	padding: $input-padding;
    transition-duration: .4s;
    outline: none; // Chrome

	&:focus {
		box-shadow: $input-focus-shadow;
		border-color: $input-focus-border;
	}
}

// Cible tous les inputs, excepté les types "radio" et "checkbox"
input:not([type=checkbox]):not([type=radio]),
input[type="checkbox"] + label::before,
textarea {
	@extend %input-style;
}

// Cible tous les inputs, excepté les types "radio" et "checkbox"
input:not([type=checkbox]):not([type=radio]),
textarea {
    width: 100%;
    margin-bottom: $input-margin-bottom;
}

// Cible tous les inputs, excepté les types "radio" et "checkbox"
input:not([type=checkbox]):not([type=radio]) {
	height: $input-height;
	line-height: $input-line-height;
	padding: $input-padding;
}