
// Select
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Select style default
// - - - - - - - - - - - -

.select {
	position: relative;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: $select-border-color;
	margin-bottom: $input-margin-bottom;

	&::after {
		content: $select-icon;
		position: absolute;
		top: 0;
		right: rem-calc(-3);
		bottom: 0;
		background: white;
		color: $select-icon-color;
		font: rem-calc(14) icomoon;
		text-align: center;
		padding: rem-calc(10) rem-calc(16); 
		@include transform(rotate(-90deg));
		pointer-events: none;
	}

	select {
		height: $select-height;
		line-height: $select-height;
		color: $body-font-color;
		font: rem-calc(16) $body-font-family;
		border: 0;
		outline: 0;
        margin-bottom: 0;
		padding-left: rem-calc(5);
		cursor: pointer;
	}

}