
// Select
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Select style default
// - - - - - - - - - - - -

.select {
	position: relative;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: $select-border-color;
	margin-bottom: $input-margin-bottom;

	&::after {
		content: $select-icon;
		position: absolute;
		top: 0;
		right: rem-calc(-3);
		bottom: 0;
		background: white;
		color: $select-icon-color;
		font: $select-arrow-size icomoon;
		text-align: center;
		padding: $select-arrow-padding;
        transform: rotate(-90deg);
		pointer-events: none;
	}

}

select {
    height: $select-height;
    line-height: $select-height;
    color: $body-font-color;
    font: $select-font-size $body-font-family;
    border: 0;
    outline: 0;
    margin-bottom: 0;
    padding-left: rem-calc(5);
    cursor: pointer;
    -webkit-appearance: none;
}