// Flex Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

.row {
    max-width: $row-width;
    margin-right: auto;
    margin-left: auto;
}

.block-grid {
    display: flex;
    flex-wrap: wrap;
}

.columns,
.column {
    padding-right: $column-gutter/2;
    padding-left: $column-gutter/2;
}



// @FUNCTION
// $colNumber - Found in settings file
// $totalColumns - Found in settings file
@function grid-calc($colNumber, $totalColumns) {
    $result: percentage(($colNumber / $totalColumns));
    @if $result == 0% { $result: 0; }
    @return $result;
}



// Grid
// - - - - - - - - - - - -
@mixin flex-grid($size, $total-columns) {

    // Les classes d'état
    // - - - - - - - - - - - -
    [class^="#{$size}-"],
    [class*=" #{$size}-"] { position: relative; }
    .#{$size}-vertical    { flex-direction:column; }
    .#{$size}-horizontal  { flex-direction:row; }



    // Columns
    // - - - - - - - - - - - -
    .columns,
    .column {

        // Centered
        &.#{$size}-centered {
            margin-right: auto;
            margin-left: auto;
        }

        // Uncentered
        &.#{$size}-uncentered {
            margin-right: 0;
            margin-left: 0;
        }

        // Collapse
        &.#{$size}-collapse {
            padding-right: 0;
            padding-left: 0;
        }

        // Uncollapse
        &.#{$size}-uncollapse {
            padding-right: $column-gutter/2;
            padding-left: $column-gutter/2;
        }

    }



    // Les classes Size
    // - - - - - - - - - - - -
    @for $j from 1 through $total-columns {
        .#{$size}-#{$j} {
            width: grid-calc($j, $total-columns);
        }
    }



    // Push/Pull
    // - - - - - - - - - - - -
    @for $i from 0 through $total-columns - 1 {
        .#{$size}-push-#{$i} {
            #{$default-float}: grid-calc($i, $total-columns);
            #{$opposite-direction}: auto;
        }
        .#{$size}-pull-#{$i} {
            #{$opposite-direction}: grid-calc($i, $total-columns);
            #{$default-float}: auto;
        }
    }


    // Offset
    // - - - - - - - - - - - -
    @for $i from 0 through $total-columns - 1 {
        .#{$size}-offset-#{$i} {
            margin-#{$default-float}: grid-calc($i, $total-columns) !important;
        }
    }

}

// Smartphone
@media #{$small-up} {
    @include flex-grid($size: small, $total-columns: $total-small-columns);
}

// Tablet
@media #{$medium-up} {
    @include flex-grid($size: medium, $total-columns: $total-medium-columns);
}

// Desktop
@media #{$large-up} {
    @include flex-grid($size: large, $total-columns: $total-large-columns);
}

// If xl/xxl screen
@if $include-xl-html-grid-classes {

    @media #{$xlarge-up} {
        @include flex-grid($size: xlarge, $total-columns: $total-large-columns);
    }

    @media #{$xxlarge-up} {
        @include flex-grid($size: xxlarge, $total-columns: $total-large-columns);
    }

}