
// Font-face
// - - - - - - - - - - - - - - - - - - - - - - - - -

@font-face {
	font-family: 'icomoon';
	src: url('#{$css-folder}/fonts/icomoon.woff?bxgr62') format('woff');
	font-weight: normal;
	font-style: normal;
}