// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Grille de debugage
// Idéal pour vérifier le bon positionnement des blocs

@if $include-grid-debug {

    .grid {
        position: absolute;
        top: 0;
        right: $row-padding-small;
        bottom: 0;
        left: $row-padding-small;
        z-index: 1;

        .columns {
            height: 100%;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: $column-gutter/2;
                background: rgba(black, .8);
                top: 0;
                bottom: 0;
            }

            &::before { left: 0; }
            &::after { right: 0; }
        }
        
        
        // Tablet only
        // - - - - - - - - - - - -
        
        @media #{$medium-only} {
            left: $row-padding-medium;
            right: $row-padding-medium;
        }

    
        // Desktop
        // - - - - - - - - - - - -
        
        @media #{$large-up} {
            right: 50%;
            margin-right: -(($row-width/2) - rem-calc(9));
            left: 50%;
            margin-left: -(($row-width/2) + rem-calc(8));
        }
    }


    // Bouton show
    // - - - - - - - - - - - -
    
    .button-show-grid {
        position: fixed;
        right: rem-calc(25);
        bottom: rem-calc(10);
        margin-bottom: 0;
        z-index: 999;
    }

}