// Icônes
// - - - - - - - - - - - - - - - - - - - - - - - - -

[class^="icon-"],
[class*=" icon-"] {
    display: flex;
	font-variant: normal;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:hover {
		text-decoration: none;

		> span { text-decoration: underline; }
	}

	&::before {
        font-family: 'icomoon';
        margin-right: rem-calc(10);
    }
}