// States
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Block
// - - - - - - - - - - - -
.is-hidden       { display: none; }
.is-block        { display: block; }
.is-inline-block { display: inline-block; }
.is-inline       { display: inline; }
.is-scrollable   { overflow: auto; }



// Visibilité
// - - - - - - - - - - - -
.is-visible   { visibility: visible; }
.is-invisible { visibility: hidden; }



// Alignement
// - - - - - - - - - - - -
.align-start   { justify-content: flex-start; } // Container
.align-end     { justify-content: flex-end; } // Container
.align-center  { justify-content: center; } // Container

.align-top       { align-items: flex-start; } // Container
.align-bottom    { align-items: flex-end; } // Container
.vertical-center { align-items: center; } // Container

.align-right   { margin-left: auto; } // Item



// Clear
// - - - - - - - - - - - -
.is-clear { clear: both; }



// Text
// - - - - - - - - - - - -
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-hide      { font-size: 0; }
.underline      { text-decoration: underline; }