// Submenu
// - - - - - - - - - - - - - - - - - - - - - - - - -

.show-submenu:checked {
    ~ ul { display: block; }
}

.submenu {
    display: none;
    margin-left: 0;
    margin-bottom: 0;
}