// Submenu
// - - - - - - - - - - - - - - - - - - - - - - - - -

.show-submenu:checked {
    + ul {
        > li {
            height: rem-calc(48);
            opacity: 1;
        }
    }
}

.submenu {
    > li {
        overflow: hidden;
        height: 0;
        padding: 0;
        transition: .4s;
        opacity: 0;
    }
}