// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

@if $include-grid-debug {

    .grid {
        position: absolute;
        top: 0;
        right: $row-padding-small;
        bottom: 0;
        left: $row-padding-small;
        z-index: 1;

        .columns {
            height: 100%;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: $column-gutter/2;
                background: rgba(black, .8);
                top: 0;
                bottom: 0;
            }

            &::before { left: 0; }
            &::after { right: 0; }
        }

        @media #{$medium-only} {
            left: $row-padding-medium;
            right: $row-padding-medium;
        }

        @media #{$large-up} {
            right: 50%;
            margin-right: -(($row-width/2) - rem-calc(9));
            left: 50%;
            margin-left: -(($row-width/2) + rem-calc(8));
        }
    }

    .grid-horizontal {
        top: 0;
        left: 0;
        height: rem-calc(2000);
        margin-bottom: rem-calc(-2000);

        @media #{$large-up} {
            right: rem-calc(17);
        }
    }

    .grid-horizontal > div { border-width: 0 0 1px 0; }



    // Les grilles horizontales
    // - - - - - - - - - - - -

    .grid-8 > div {
        height: rem-calc(8);
        border-color: #d0d0d0;
        border-style: dashed;
    }

    .grid-16 > div {
        height: rem-calc(16);
        border-color: #6dc5fd;
        border-style: dashed;
    }

    .grid-32 > div {
        height: rem-calc(32);
        border-color: #ffabe0;
        border-style: solid;
    }



    // Les boutons
    // - - - - - - - - - - - -

    .show-horizontal-grid-8,
    .show-horizontal-grid-16,
    .show-horizontal-grid-32,
    .show-vertical-grid {
        position: fixed;
        right: rem-calc(25);
        margin-bottom: 0;
        z-index: 999;
    }

    .show-horizontal-grid-8 { bottom: rem-calc(68); }

    .show-horizontal-grid-16 { bottom: rem-calc(125); }
    .show-horizontal-grid-32 { bottom: rem-calc(182); }

    .show-vertical-grid { bottom: rem-calc(10); }

}