// INPUT
// - - - - - - - - - - - - - - - - - - - - - - - - -

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"] + label,
input[type="checkbox"] + label::before,
textarea {
	@extend %input-textarea;
}

// On cible tous les inputs, excepté les types "radio" et "checkbox"
input:not([type=checkbox]):not([type=radio]) {
	height: $input-height;
	line-height: $input-line-height;
	padding: $input-padding;
}


// Checkbox/Radio
// - - - - - - - - - - - -

input[type="checkbox"],
input[type="radio"] {
    display: block;
    margin: 0 0 $input-checkbox-margin-bottom;
    opacity: 0;
	@extend %input-radio-checkbox;
}


// Checkbox
// - - - - - - - - - - - -

input[type="checkbox"] {

	+ label {

		&::before {
			width: $checkbox-width;
			height: $checkbox-height;
			margin-right: $checkbox-margin-right;
			margin-bottom: 0;
		}

		&::after {
			content: $checkbox-icon;
			top: 0; left: 0;
			width: $checkbox-width;
			height: $checkbox-height;
			line-height: $checkbox-height;
			font-size: $checkbox-font-size;
			color: $checkbox-color;
			text-align: center;
		}

	}
}


// Radio
// - - - - - - - - - - - -

input[type="radio"] {

	+ label {

		&::before {
			width: $radio-width;
			height: $radio-height;
			border-radius: 50%;
			border: #{$radio-border-width} solid #{$radio-border-color};
			margin-right: rem-calc(10);
		}

		&::after {
			content: $radio-checked-icon;
			top: $radio-checked-top;
			left: $radio-checked-left;
			width: $radio-checked-width;
			height: $radio-checked-height;
			background: $radio-checked-background;
			border-radius: 100%;
		}

	}

}