// Label
// - - - - - - - - - - - - - - - - - - - - - - - - -

label,
.label {
	position: relative;
    @include flexbox;
    @include align-items(center);
	// display: $label-display;
	color: $label-color;
	font-style: $label-style;
	margin-bottom: $label-margin-bottom;
	cursor: pointer;
}